* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  padding: 40px;
  justify-content: center;
  align-items: center;
  background: #f4f4f4; /* light neutral background */
}

/* MAIN WHITE BOX */
.container {
  background: white;
  width: 90%;
  max-width: 500px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* BUTTONS */
.btn-group {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

 
h2{
  margin-bottom: 10px;
  padding: 10px auto;
}

button {
  padding: 12px;
  width: 48%;
  border: none;
  background: #2e7d32;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background: #1b5e20;
}

/* FORMS */
.form {
  margin-top: 20px;
}

.form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 4px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.input-group {
  margin-bottom: 12px;
  text-align: left;
}

.error-text {
  color: #d32f2f;
  font-size: 12px;
  display: block;
  min-height: 16px;
  margin-bottom: 4px;
}

.form button {
  width: 100%;
  margin-top: 10px;
}

/* HIDE CLASS */
.hidden {
  display: none;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .container {
    padding: 25px;
  }
}
.password-wrapper {
  position: relative;
}

.password-wrapper span {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
